name: USD Data Engineering Pipeline

on:
  workflow_dispatch: # Allows manual trigger button
  schedule:
    - cron: '0 12 * * *' # Runs daily at 12:00 PM UTC

jobs:
  run-data-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      # Authenticate to Google Cloud using the Secret you just added
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # Run Python (Injecting Adzuna keys from Secrets)
      - name: Run Ingestion Script
        env:
          ADZUNA_APP_ID: ${{ secrets.ADZUNA_APP_ID }}
          ADZUNA_APP_KEY: ${{ secrets.ADZUNA_APP_KEY }}
        run: python ingestion/get_adzuna_jobs.py

      # Run SQL Transformations
      - name: Run SQL Transformations
        run: |
          bq query --use_legacy_sql=false < transformation/10_match_skills.sql
          bq query --use_legacy_sql=false < transformation/15_extract_details.sql
          bq query --use_legacy_sql=false < transformation/20_aggregate_counts.sql